{% extends 'settings/settings-base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
{{ block.super }}

{% endblock %}

{% block title %}Settings{% endblock %}

{% block settings-content %}
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

    <div class="form-group {% if form.errors.email %}has-error{% endif %}">
        <label class="control-label" for="email">Administrator Username</label>
        <div class="controls">
            <input class="form-control" type="text" id="email" name="email"
                   placeholder=". . ." required autofocus>

            {% if form.errors.email %}
                <span class="help-block" >{{ form.errors.email.0 }}</span>
            {% endif %}
        </div>
    </div>

    <div class="form-group {% if form.errors.password %}has-error{% endif %}">
        <label class="control-label" for="password">Administrator Password</label>
        <div class="controls">
            <input class="form-control" type="password" value="{{ form.data.password }}" id="password"
                   name="password" placeholder=". . ." required>

            {% if form.errors.password %}
                <span class="help-block" >{{ form.errors.password.0 }}</span>
            {% endif %}
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn-space btn btn-success btn-sm">Save Settings</button>
    </div>
    <br>

    <div class="container-fluid" style="background:#e6e6e6">
        <br>
            <div class="form-group">
            <div style="text-align:center;">
                <label>Password Checker</label>
            </div>
            <label>Password Dictionary</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div>
                <small style="float:left;">Words must be separated by a comma!</small>
                <div class="text-right">
                <button type="submit" class="btn-space btn btn-primary btn-sm">Save Settings</button>
                </div>
            </div>
        <br>
    </div>

    </div>
{% endblock %}
